@import "lib/normalize";

body {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.lb__thumbnail--frame {
    float: left;
    line-height: 0; // hide line-height affecting vertical spacing between photos
    position: relative;

    & > a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}


.lb__thumbnail__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 1.5em;
   
    background: black; // fallback;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    padding: .5em;

}
