@import "lib/normalize";
@import "compass/css3";

body {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#grid > .thumbnail-frame {
    float: left;
    line-height: 0; // hide line-height affecting vertical spacing between photos
}
.thumbnail-frame {

    position: relative;

    & > a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &:hover > .thumbnail-caption {
        opacity: 1;
        @include transition(opacity 300ms ease-in-out);
    }
}


.thumbnail-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 1.5em;
    color: white;
    background: black; // fallback;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    padding: .5em;
    text-align: left;

}

.lb__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;     // fallback
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: none;
}

.lb__stage-wrapper {
   display: table;
   width: 100%;
   min-height: 100%;

}

.lb__stage-cell {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.lb__stage {
    display: inline-block;
    & > .thumbnail-caption {
        opacity: 1;
    }
}

.panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;

    &:hover > .nav-button{
          opacity: 1;
    }
}
.prev-panel {

    right: 60%;
 

    & > .nav-button {
        left: 20px;
    }
 
}

.next-panel {

    left: 40%;
   

    & > .nav-button {
        right: 20px;
    }
    
}

.nav-button {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 5em;
    @include transform(0, -50%);
    opacity: 0.3;
    @include transition(opacity 300ms ease-in-out);
}
